:root {
  --primary: #006689;
  --on-primary: #ffffff;
  --primary-container: #c3e8ff;
  --on-primary-container: #001e2c;
  --secondary: #4e616d;
  --on-secondary: #ffffff;
  --secondary-container: #d1e5f3;
  --on-secondary-container: #091e28;
  --tertiary: #605a7d;
  --on-tertiary: #ffffff;
  --tertiary-container: #e6deff;
  --on-tertiary-container: #1c1736;
  --error: #ba1a1a;
  --error-container: #ffdad6;
  --on-error: #ffffff;
  --on-error-container: #410002;
  --background: #fbfcfe;
  --on-background: #191c1e;
  --surface: #fbfcfe;
  --on-surface: #191c1e;
  --surface-variant: #dce3e9;
  --on-surface-variant: #41484d;
  --outline: #71787d;
  --inverse-on-surface: #f0f1f3;
  --inverse-surface: #2e3133;
  --inverse-primary: #79d1ff;
  --shadow: #000000;
  --surface-tint: #006689;
  --outline-variant: #c0c7cd;
  --scrim: #000000;
  /* dark */
  --primary-dark: #79d1ff;
  --on-primary-dark: #003549;
  --primary-container-dark: #004c68;
  --on-primary-container-dark: #c3e8ff;
  --secondary-dark: #b5c9d7;
  --on-secondary-dark: #20333d;
  --secondary-container-dark: #364955;
  --on-secondary-container-dark: #d1e5f3;
  --tertiary-dark: #c9c1ea;
  --on-tertiary-dark: #312c4c;
  --tertiary-container-dark: #484264;
  --on-tertiary-container-dark: #e6deff;
  --error-dark: #ffb4ab;
  --error-container-dark: #93000a;
  --on-error-dark: #690005;
  --on-error-container-dark: #ffdad6;
  --background-dark: #191c1e;
  --on-background-dark: #e1e2e5;
  --surface-dark: #191c1e;
  --on-surface-dark: #e1e2e5;
  --surface-variant-dark: #41484d;
  --on-surface-variant-dark: #c0c7cd;
  --outline-dark: #8a9297;
  --inverse-on-surface-dark: #191c1e;
  --inverse-surface-dark: #e1e2e5;
  --inverse-primary-dark: #006689;
  --shadow-dark: #000000;
  --surface-tint-dark: #79d1ff;
  --outline-variant-dark: #41484d;
  --scrim-dark: #000000;
}
