# generated
.astro
src/env.d.ts
src/data/schema.ts

# built
dist

# lockfile
pnpm-lock.yaml

# vercel
.vercel
vercel.json

# cms content
blog.sngr.my.id/src/content
!blog.sngr.my.id/src/content/config.ts