---
import BaseLayout from './base.astro'
---

<BaseLayout>
  <!-- <head/> -->
  <Fragment slot="head">
    <slot name="head" />
  </Fragment>

  <!-- <body /> -->
  <main>
    <slot />
  </main>
</BaseLayout>
