---
import { getEntry } from 'astro:content'

const site = await getEntry('site', 'site')
---

<header class='container'>
  <nav>
    <ul>
      <li>
        <a href='/' data-astro-prefetch><strong>{site.data.title}</strong></a>
      </li>
    </ul>
    <ul>
      <li>
        <a href='/#about'>About</a>
      </li>
    </ul>
  </nav>
</header>
