---
import { getEntry } from 'astro:content'

export interface Props {
  title?: string | undefined
  description?: string | undefined
}

const site = await getEntry('site', 'site')
const { title, description } = Astro.props
---

{/* basic */}
<title>{title ? `${title} | ${site.data.title}` : site.data.title}</title>
<meta name='description' content={description || site.data.description} />
<link rel='canonical' href={Astro.url} />

{/* link rels */}
<link
  rel='sitemap'
  type='application/xml'
  href={new URL('sitemap-index.xml', Astro.url)}
/>
<link
  rel='alternate'
  type='application/rss+xml'
  title={site.data.title}
  href={new URL('rss.xml', Astro.site)}
/>
