---
import DoubleColumnLayout from '~/layouts/double.astro'
import List from '~/components/list.astro'
import { getCollection } from 'astro:content'

const posts = await getCollection('posts', (post) => !post.data.draft)
---

<DoubleColumnLayout>
  <section class='sm:border-t-4 sm:border-zinc-950 sm:pt-4'>
    <List posts={posts} />
  </section>
</DoubleColumnLayout>
