---
import { getCollection } from 'astro:content'
import Layout from '../layouts/layout.astro'

const posts = await getCollection('post')
---

<Layout>
  <main class='container'>
    <section>
      {
        posts.map((post) => {
          const uri = [post.data.date.getFullYear(), post.slug].join('/')
          return (
            <article>
              <h2>
                <a href={uri} data-astro-prefetch>
                  {post.data.title}
                </a>
              </h2>
              <p>
                {post.data.description ||
                  post.body.match(/.*(?=\.)/)?.toString()}
              </p>
            </article>
          )
        })
      }
    </section>
  </main>
</Layout>
