---
import { getCollection } from 'astro:content'
import Layout from '../layouts/layout.astro'

const posts = await getCollection('post', ({ data }) => !data.draft)
---

<Layout>
  <main class='container'>
    <section>
      {
        posts.map((post) => {
          const uri = [post.data.date.getFullYear(), post.slug].join('/')
          return (
            <article>
              <h2>
                <a href={uri} data-astro-prefetch>
                  {post.data.title}
                </a>
              </h2>
              <p>
                {post.data.description ||
                  post.body.match(/.*(?=\.)/)?.toString()}
              </p>
              {post.data.tags && (
                <ul class='tags'>
                  {post.data.tags.map((tag) => (
                    <li>
                      <a href={`/#tags/${tag}`}>
                        <small>{tag}</small>
                      </a>
                    </li>
                  ))}
                </ul>
              )}
            </article>
          )
        })
      }
    </section>
  </main>
</Layout>

<style lang='scss'>
  .tags {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    padding: 0;
    > li {
      list-style: none;
      background-color: var(--pico-primary-background);
      border-radius: 9999px;
      padding: 0 1rem;
      > a {
        color: var(--pico-primary-inverse);
        --pico-text-decoration: none;
      }
    }
  }
</style>
