---
import BaseLayout from './base.astro'
import './globals.css'
---

<BaseLayout>
  <!-- <head /> -->
  <Fragment slot="head">
    <slot name="head" />
  </Fragment>

  <!-- <body /> -->
  <main class="px-4">
    <slot />
  </main>
</BaseLayout>
